@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Poppins:wght@200&display=swap');
.Main{
    display: flex;
    width: 100%;
    height: auto;
    background-color:#8EA7E9;
   }
.Aboutme{
flex:1;
width:50%;
margin-top: 100px;
padding:30px;
text-align: center;
    
    }
.mypicture{
 margin-right: 100px;
width:50%;
    }
.mypicture img{
width:80%;
height:auto;
margin-top: 0px;
margin-left:100px;
padding-left:100px;
 }
     
     /* .mypicture img:hover{transform: scale(1.5);} */
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #03001C;
          }
           /* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style the header and navigation menu */
  header {
   font-weight:bolder;
    font-family: 'Poppins', sans-serif;
    background-color:#7971EA;
    color: #fff;
    padding: 1em;
  }
  footer{
    font-weight:bolder;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color:#7971EA;
    color: #fff;
    padding: 1em;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  nav ul {
    display: flex;
    list-style-type: none;
  }
  nav li {
    margin: 0 1em;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
          
  h1 {
    font-size: 36px;
    color:#03001C;
    text-align: center;
    margin-top: 50px;
    padding: 1em;
  }
  
  p {
    font-size: 18px;
    color: #03001C;
    line-height: 1.6;
    text-align: justify;
    margin: 20px 0;
  }

  
  a {
    color: #0077cc;
    text-decoration: none;
  }
  @media screen and (min-width:769px) and (max-width:1024px){
    .Main{
      display: flex;
      width: 100%;
      height: auto;
      background-color:#8EA7E9;
     }
  .Aboutme{
  flex:1;
  width:50%;
  margin-top: 100px;
  padding:30px;
  text-align: center;
      
      }
  .mypicture{
   margin-right: 100px;
  width:50%;
      }
  .mypicture img{
  width:80%;
  height:auto;
  margin-top: 0px;
  margin-left:100px;
  padding-left:100px;
   }
       
       /* .mypicture img:hover{transform: scale(1.5);} */
  body{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #03001C;
            }
             /* Reset default styles */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    /* Style the header and navigation menu */
    header {
     font-weight:bolder;
      font-family: 'Poppins', sans-serif;
      background-color:#7971EA;
      color: #fff;
      padding: 1em;
    }
    footer{
      font-weight:bolder;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      background-color:#7971EA;
      color: #fff;
      padding: 1em;
    }
    nav {
      display: flex;
      justify-content: center;
    }
    nav ul {
      display: flex;
      list-style-type: none;
    }
    nav li {
      margin: 0 1em;
    }
    nav a {
      color: #fff;
      text-decoration: none;
    }
            
    h1 {
      font-size: 36px;
      color:#03001C;
      text-align: center;
      margin-top: 50px;
      padding: 1em;
    }
    
    p {
      font-size: 18px;
      color: #03001C;
      line-height: 1.6;
      text-align: justify;
      margin: 20px 0;
    }
  
    
    a {
      color: #0077cc;
      text-decoration: none;
    }
  } /* for laptop*/
  @media screen and (min-width:481px) and (max-width:768px){
    .Main{
      display: flex;
      width: 100%;
      height: auto;
      background-color:#8EA7E9;
     }
  .Aboutme{
  flex:1;
  width:50%;
  margin-top: 100px;
  padding:30px;
  text-align: center;
      
      }
  .mypicture{
   margin-right: 100px;
  width:50%;
      }
  .mypicture img{
  width:80%;
  height:auto;
  margin-top: 0px;
  margin-left:100px;
  padding-left:100px;
   }
       
       /* .mypicture img:hover{transform: scale(1.5);} */
  body{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #03001C;
            }
             /* Reset default styles */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    /* Style the header and navigation menu */
    header {
     font-weight:bolder;
      font-family: 'Poppins', sans-serif;
      background-color:#7971EA;
      color: #fff;
      padding: 1em;
    }
    footer{
      font-weight:bolder;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      background-color:#7971EA;
      color: #fff;
      padding: 1em;
    }
    nav {
      display: flex;
      justify-content: center;
    }
    nav ul {
      display: flex;
      list-style-type: none;
    }
    nav li {
      margin: 0 1em;
    }
    nav a {
      color: #fff;
      text-decoration: none;
    }
            
    h1 {
      font-size: 36px;
      color:#03001C;
      text-align: center;
      margin-top: 50px;
      padding: 1em;
    }
    
    p {
      font-size: 18px;
      color: #03001C;
      line-height: 1.6;
      text-align: justify;
      margin: 20px 0;
    }
  
    
    a {
      color: #0077cc;
      text-decoration: none;
    }
  } /* for Tablet*/
  @media screen and (min-width:320px) and (max-width:480pxpx){
    .Main{
      display: flex;
      width: 100%;
      height: auto;
      background-color:#8EA7E9;
     }
  .Aboutme{
  flex:1;
  width:50%;
  margin-top: 100px;
  padding:30px;
  text-align: center;
      
      }
  .mypicture{
   margin-right: 100px;
  width:50%;
      }
  .mypicture img{
  width:80%;
  height:auto;
  margin-top: 0px;
  margin-left:100px;
  padding-left:100px;
   }
       
       /* .mypicture img:hover{transform: scale(1.5);} */
  body{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #03001C;
            }
             /* Reset default styles */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    /* Style the header and navigation menu */
    header {
     font-weight:bolder;
      font-family: 'Poppins', sans-serif;
      background-color:#7971EA;
      color: #fff;
      padding: 1em;
    }
    footer{
      font-weight:bolder;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      background-color:#7971EA;
      color: #fff;
      padding: 1em;
    }
    nav {
      display: flex;
      justify-content: center;
    }
    nav ul {
      display: flex;
      list-style-type: none;
    }
    nav li {
      margin: 0 1em;
    }
    nav a {
      color: #fff;
      text-decoration: none;
    }
            
    h1 {
      font-size: 36px;
      color:#03001C;
      text-align: center;
      margin-top: 50px;
      padding: 1em;
    }
    
    p {
      font-size: 18px;
      color: #03001C;
      line-height: 1.6;
      text-align: justify;
      margin: 20px 0;
    }
  
    
    a {
      color: #0077cc;
      text-decoration: none;
    }
  } /* for mobile*/
  